@font-face {
  font-family: "PT Sans";
  fonf-style: normal;
  font-weight: 400;
  src: url(fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  fonf-style: normal;
  font-weight: 700;
  src: url(fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}
.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  width: 160px;
  height: 48px;
  text-align: center;
  color: #ffffff;
  background-color: #83B3D3;
  text-transform: uppercase;
}

/* Light */
.button-light {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: none;
  background-color: inherit;
}
/* Page */

.page-header {
  color: #000000;
  background: #ffffff;
}
.navigation {

  width: 1200px;
  margin: 0 auto;
}
.navigation-list {
  width: 460px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.navigation-user {
  max-width: 300px;
  margin-left: auto;
}
.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-width: 700;
  color: inherit;
  text-decoration: none;
}
.main-container {
  flex-grow: 1;
}
.banner-index {
  color: #000000;
  background-color:  #ADD8E6;
  background-image:  url("../images/lower-decor.png"),
    url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}
.welcome-index {
  display: block;
  margin: 0 auto;
}
.advantages {
  text-align: center;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}
.services {
  display: flex;
  justify-content: space-between;
}
.advantages-list {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
}
.advantages-cold-light {
  color: #ffffff;
  background-color: #83B3D3;
  text-align: center;
}
.advantages-cold-light h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.advantages-cold-light p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.cold-transparent {
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}
.cold-transparent h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: black;
  text-align: center;
  text-transform: uppercase;
}
.cold-transparent p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.parent-background {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}
.parent-background h3{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: black;
  text-align: center;
  text-transform: uppercase;
}

.transparent-light {
  background: rgba(131, 179, 211, 0.2);
}

.transparent-light h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: black;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
.thumbnail {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
.newsletter {
  font-size: 22px;
  line-height: 26px;
  background-image: url("../images/photo-subscription.jpg");
  background-size: 100% auto;
  height: 411px;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #83B3D3;
  text-align: center;
}
.field {
  font-size: 18px;
  line-height: 26px;
}
.page-footer {
  display: flex;
  justify-content: space-between;
}
footer-social-list {
  width: 110px;
  padding-left: 72px;
}
.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  text-transform: uppercase;

}
.footer-contacts-logo {
  width: 115px;
  padding-right: 71px;
}
.page-footer-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.inner-header {
  color: #000000;
  background-color: #ADD8E6;
  background-image: url("../images/hotels-background.jpg");
  /*background-image: url("../images/lower-decor.png");*/
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.inner-header-title {
  color: #ffffff;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}
.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.catalog-filter {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
.catalog-filter-list {
  font-size: 18px;
  line-height: 23px;
}
.total-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
}
.hotel-cards-price {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}
.more-detailed {
  color: #ffffff;
  width: 133px;
  height: 37px;
  background: #756257;
  text-decoration: none;
}
.pagination-show-more {
  width: 620px;
  height: 60px;
}
.pagination-item {
  background-color:;
}
.pagination {
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
}

.pagination-link {
  color: #ffffff;
  background-color: #83B3D3;;
  line-height: 16px;
  font-weight: 700;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-disabled {
  background-color: #595959;
}
.inner-newsletter {
  font-size: 22px;
  line-height: 26px;
  height: 411px;
  background-repeat: no-repeat;
  color: #333333;
  text-align: center;
}
.inner-newsletter h2 {
  color: #000000;
}
                                                                                                                                                                                                                                          <label class="visually-hidden" for="newsletter-email">Email</label>
                                                                                                                                                                                                                                                                                                       <input class="field" placeholder="Ваш e-mail" type="email" name="newsletter-email" id="newsletter-email" required>
                                                                                                                                                                                                                                                                                                                                                                                                                <button class="button" type="submit">Подписаться</button>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                  </form>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                    </section>
