@font-face {
  font-family: "PT Sans";
  fonf-style: normal;
  font-weight: 400;
  src: url(fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  fonf-style: normal;
  font-weight: 700;
  src: url(fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;
  padding: 0;
  overflow: hidden;
  margin: 0;
}
.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83B3D3;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-list {
  width: 460px;
  list-style: none;
  display: flex;
  align-items: center;
}
.navigation-user {
  max-width: 300px;
  display: flex;
  align-items: center;
}
.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}
.navigation-link-heder {
  text-transform: uppercase;
  background: #756157;
  padding: 8px 34px;
  color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
}
.banner-index {
  color: #000000;
  background-color:  #ADD8E6;
  background-image:  url("../images/lower-decor.png"),
    url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}
.welcome-index {
  padding: 51px 371px 82px 371px;
}
.main-index {
  margin: 0;
}
.advantages {
  text-align: center;
}
.advantages-title-paragraph {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  padding-top: 69px;
  margin: 0;
  text-align: center;
}
.advantages-description-paragraph {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  padding-top: 25px;
  padding-bottom: 90px;
  margin: 0;
  text-align: center;
}
.advantages-list {
  line-height: 21px;
  color: #333333;
}
.advantages-item {
  list-style: none;
}
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
}
.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.services {
  display: flex;
  justify-content: space-between;
}
.advantages-cold-light {
  color: #ffffff;
  background-color: #83B3D3;
  text-align: center;
}
.advantages-cold-light h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.advantages-cold-light p {
  line-height: 21px;
  text-align: center;
}
.cold-transparent {
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}
.cold-transparent h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: black;
  text-align: center;
  text-transform: uppercase;
}
.cold-transparent p {
  line-height: 21px;
  text-align: center;
}
.parent-background {
  line-height: 21px;
  text-align: center;
  color: #333333;
}
.parent-background h3{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: black;
  text-align: center;
  text-transform: uppercase;
}

.transparent-light {
  background: #83b3d333;
}

.transparent-light h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: black;
  text-align: center;
  text-transform: uppercase;
}
.hotel-search {
  text-align: center;
}
.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
}
.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  padding-top: 20px;
  margin: 0;
}
.hotel-search-button {
  background: #756157;
  padding: 8px 50px;
  text-align: center;
  margin-bottom: 96px;
}
.thumbnail {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
.newsletter {
  background-image: url("../images/photo-subscription.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #83B3D3;
  text-align: center;
}
.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  padding-top: 96px;
  margin: 0;
}
.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  padding-top: 20px;
  margin: 0;
}
.field {
  line-height: 26px;
}
.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

/*Страница каталога*/

.inner-header {
  color: #000000;
  background-color: #ADD8E6;
  background-image: url("../images/hotels-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.inner-header-title {
  color: #ffffff;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}
.breadcrumbs {
  list-style: none;
}
.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.catalog-filter {
  line-height: 23px;
  color: #ffffff;
}
.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.catalog-filter-list {
  line-height: 23px;
  list-style: none;
}
.total-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.hotel-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.hotel-cards {
  width: 340px;
  text-align: center;
  padding: 16px;
}
.hotel-cards-link {
  text-decoration: none;
}
.hotel-cards-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.hotel-cards-price {
  font-weight: 400;
}
.more-detailed {
  color: #ffffff;
  width: 133px;
  height: 37px;
  background: #756257;
  text-decoration: none;
  padding: 8px 26px;
  text-transform: uppercase;
}
.rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.pagination-show-more {
  width: 620px;
  height: 60px;
}
.pagination-item {
  background-color:;
}
.pagination {
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  display: flex;
  list-style: none;
  align-items: center;
}

.pagination-link {
  color: #ffffff;
  background-color: #83B3D3;;
  line-height: 16px;
  font-weight: 700;
  text-decoration: none;
}

.pagination-disabled {
  background-color: #595959;
}
.inner-newsletter {
  color: #333333;
  text-align: center;
}
.inner-newsletter-title {
  font-size: 30px;
  line-height: 36px;
}
.inner-newsletter-description {
  font-size: 22px;
  line-height: 26px;
  padding-top: 20px;
}
.page-footer {
  display: flex;
  justify-content: space-between;
}
.footer-social-list {
  width: 110px;
  padding-left: 72px;
  list-style: none;
}
.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 35px;
  text-decoration: none;
  color: #000000;
}
.footer-contacts-logo {
  padding-right: 33px;
}
                                                                                                                                                                                                                                     <label class="visually-hidden" for="newsletter-email">Email</label>
                                                                                                                                                                                                                                                                                                       <input class="field" placeholder="Ваш e-mail" type="email" name="newsletter-email" id="newsletter-email" required>
                                                                                                                                                                                                                                                                                                                                                                                                                <button class="button" type="submit">Подписаться</button>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                  </form>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                    </section>
